@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@200;400;700&display=swap');

:root {
  font-size: 62.5%;

  --color-primary: hsl(279, 100%, 39%);
  --color-secondary: hsl(235, 42%, 34%);
  --color-highlight: hsl(235, 60%, 59%);
  --color-danger: hsl(0, 94%, 41%);
  --color-light: hsl(160, 24%, 85%);

  --color-darkish: hsl(278, 100%, 8%);
  --color-dark: hsl(279, 100%, 5%);
  --color-darkest: hsl(276, 100%, 2%);
}

.gradient {
  background: -webkit-linear-gradient(
    bottom,
    var(--color-secondary),
    var(--color-highlight)
  )
}

.gradient.text {
  background-clip: text;
  --webkit-background-clip: text;
  --webkit-text-fill-color: transparent;
}

.gradient.alternate {
  background: -webkit-linear-gradient(
    bottom,
    var(--color-danger),
    var(--color-secondary)
  );
}

* {
  font-family: 'Raleway',
      sans-serif;
}

body {
  font-size: 6rem;
  background-color: var(--color-dark);
  color: var(--color-light);
}

main {
  display: flex;
  flex-direction: column; 
  gap: 2rem; 
  justify-content: center;
  align-items: center;
  height: 100svh;
}

.title {
  font-size: 6rem;
  font-weight: 700;
  text-align: center;
  color: var(--color-light);
  text-shadow: .3rem .3rem var(--color-primary);
}

.headline {
  font-size: 3rem;
  line-height: 4rem;
  text-align: center;
  margin-top: 2rem;
  border-radius: 0.5rem;
  padding: .4rem .8rem;
}

.loading {
  font-size: 2rem;
  font-weight: 700;
  color: var(--color-light);
  text-align: center;
  animation: bouncy 1s infinite;
}

@keyframes bouncy {
  0% {
    transform: translateX(0)
  }
  50% {
    transform: translateX(0.5rem)
  }
  100% {
    transform: translateX(0);
  }
}

.button {
  color: var(--color-dark);
  border: none;
  font-size: 2rem;
  font-weight: 700;
  text-transform: uppercase;
  padding: 1rem 2rem;
  border-radius: 0.5rem;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

.button.gradient:hover {
  background: -webkit-linear-gradient(right,
  var(--color-secondary),
  var(--color-highlight));
  color: var(--color-light);
  box-shadow: 0 .5rem var(--color-light);
  transform: translateY(-.5rem);
}

.button.gradient.alternate:hover {
  background: -webkit-linear-gradient(right,
      var(--color-danger),
      var(--color-secondary));
  color: var(--color-light);
  box-shadow: 0 .5rem var(--color-light);
  transform: translateY(-.5rem);
}